---
import Subtitle from "@/components/Subtitle.astro";
import BENEFITS from "@/jsons/benefits.json";
---

<section class="border-t border-t-white/15">
  <Subtitle>Beneficios de crear tu web</Subtitle>
  <ul class="flex flex-col gap-24 sm:gap-8">
    {
      BENEFITS.map(
        ({ image, description, title, unsplashLink, author, authorLink }) => (
          <li>
            <article class="grid sm:grid-cols-2 relative max-w-80ch m-auto place-items-center px-8">
              <div class="relative">
                <img
                  src={image}
                  alt={title}
                  loading="lazy"
                  class="w-64 shadow-md shadow-white/10 rounded"
                />
                <span class="absolute bottom-2 right-2 text-white/70 font-subtitle text-xs ">
                  Foto de
                  <a href={authorLink} target="_blank" class="underline">
                    {author}
                  </a>
                  en
                  <a href={unsplashLink} target="_blank" class="underline">
                    Unsplash
                  </a>
                </span>
              </div>
              <div class="content">
                <h3 class="font-subtitle text-2xl font-bold text-primary-400 my-4 sm:mt-0 sm:text-left text-center">
                  {title}
                </h3>
                <p class="sm:text-left text-center">{description}</p>
              </div>
            </article>
          </li>
        )
      )
    }
  </ul>
</section>

<style>
  .content {
    view-timeline-name: --show;
    view-timeline-axis: block;
    animation-timeline: --show;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
  }

  img {
    aspect-ratio: 2 / 3;
    view-timeline-name: --show;
    view-timeline-axis: block;
    animation-timeline: --show;
    animation-name: colorize;
    animation-range: entry 25% cover 80%;
    animation-fill-mode: both;
  }
  @keyframes colorize {
    from {
      filter: grayscale(100%);
    }
    to {
      filter: grayscale(0%);
    }
  }
  @keyframes show {
    from {
      opacity: 0;
      transform: translateY(80px) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
</style>
