---
import BENEFITS from "@/jsons/benefits.json";
---

<section>
  <ul class="flex flex-col gap-4">
    {
      BENEFITS.map(
        ({ image, description, title, unsplashLink, author, authorLink }) => (
          <li>
            <article class="grid sm:grid-cols-2 relative max-w-80ch m-auto place-items-center">
              <div class="relative">
                <img
                  src={image}
                  alt={title}
                  loading="lazy"
                  class="w-64 shadow-md"
                />
                <span class="absolute bottom-2 right-2 text-white/70 font-subtitle text-xs ">
                  Foto de
                  <a href={authorLink} target="_blank" class="underline">
                    {author}
                  </a>
                  en
                  <a href={unsplashLink} target="_blank" class="underline">
                    Unsplash
                  </a>
                </span>
              </div>
              <div>
                <h3>{title}</h3>
                <p>{description}</p>
              </div>
            </article>
          </li>
        )
      )
    }
  </ul>
</section>
