---
import { ViewTransitions } from "astro:transitions";
import options from "./options";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";

const {
  author,
  copyright,
  defaultDescription,
  defaultKeywords,
  defaultTitle,
  image,
} = options;

interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const { title, description = defaultDescription, keywords } = Astro.props;

const currentKeywords = keywords
  ? keywords + ", " + defaultKeywords
  : defaultKeywords;

const titleName = title + " | " + defaultTitle;

const canonical = import.meta.env.SITE + Astro.url.pathname;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content={author} />
    <meta name="language" content="ES" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="963x963" type="image/svg+xml" href="/icon.svg" />

    <!-- SEO -->
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <meta name="Classification" content="Business" />
    <meta name="description" content={description} />
    <meta name="keywords" content={currentKeywords} />
    <meta name="copyright" content={copyright} />
    <meta property="og:site_name" content={titleName} />

    <!-- Open Graph / Facebook -->
    <meta name="og:description" content={description} />
    <meta name="og:image" content={image} />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={titleName} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:title" content={titleName} />
    <meta name="twitter:description" content={description} />

    <ViewTransitions />
    <title>{titleName}</title>
  </head>

  <body class="font-body text-pretty relative bg-slate-950 text-white/90">
    <Header />
    <main class="content-center min-h-screen">
      <slot />
    </main>
    <Footer />

    <style is:global>
      :root {
        scroll-behavior: smooth;
        --primary: #228b22;
        --secondary-1: #b82d7c;
        --secondary-2: #ae662a;
      }
      body {
        min-height: 100vh;
      }
      @font-face {
        font-family: "Montserrat Alternates";
        font-style: normal;
        font-weight: 400;
        src:
          local("Montserrat Alternates"),
          url("/fonts/MontserratAlternates-Regular.woff2") format("woff2");
      }
      @font-face {
        font-family: "Kanit";
        font-style: normal;
        font-weight: 400;
        src:
          local("Kanit"),
          url("/fonts/Kanit-Regular.woff2") format("woff2");
      }
      @font-face {
        font-family: "Goudy Bookletter";
        font-style: normal;
        font-weight: 400;
        src:
          local("Goudy Bookletter"),
          url("/fonts/GoudyBookletter1911-Regular.woff2") format("woff2");
      }
    </style>
  </body>
</html>
